# -----------------------------
# python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# data directory (seus arquivos TFTP)
# -----------------------------
data/
storage/

# -----------------------------
# virtual environment
# -----------------------------
venv/
.env/

# -----------------------------
# logs
# -----------------------------
*.log

# -----------------------------
# vscode / ide
# -----------------------------
.vscode/
.idea/

# -----------------------------
# os files
# -----------------------------
.DS_Store
Thumbs.db